src/main/app/http.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <flow name="httpFlow">
        <http:request config-ref="HTTP_Request_Configuration" path="${http.path}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="http" value=""/>
            </http:request-builder>
        </http:request>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.status' == 200]">
                <set-payload value="#['SUCCESS']" doc:name="Set Payload (Success)"/>
            </when>
            <otherwise>
                <set-payload value="#['FAILURE']" doc:name="Set Payload (Failed)"/>
            </otherwise>
        </choice>
    </flow>
</mule>
