src/main/app/jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="jmsInboundFlow">
        <jms:inbound-endpoint queue="${jms.queue}" connector-ref="JMS_Connector_Configuration" doc:name="JMS_Listener"/>
        <logger message="#[&quot;PRINT JMS INBOUND PAYLOAD:  &quot;+payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="jmsOutboundFlow">
        <jms:outbound-endpoint queue="${jms.queue}" connector-ref="JMS_Connector_Configuration" doc:name="JMS_Sender"/>
		<logger level="INFO" doc:name="Logger" message="#[&quot;PRINT JMS OUTBOUND PAYLOAD:  &quot;+payload]"/>
    </flow>

</mule>
